<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <div th:insert="basicfrag :: headerFrag"></div>
        <title>MemoryCardGame</title>
    </head>

<body>

<div th:insert="basicfrag :: navFrag"></div>

<div class="container">
    <div class="row" >
        <div class="col-3" th:each="tmpcard : ${allcards}">

            <button> <a th:href="@{/selectcard/{id}(id=${tmpcard.cardval})}">
                <span th:if="${tmpcard.front}">
                    <img th:src=${tmpcard.frontcard} alt="card front image1"></span>
                <span th;unless="${tmpcard.front}">
                    <img th:src=${tmpcard.backcard} alt="card back image1"></span>
            </a></button>
        </div>
    </div>
</div>



<div th:insert="basicfrag :: footerFrag"></div>
<div th:insert="basicfrag :: scriptFrag"></div>
</body>
</html>